name: Build and test

permissions:
  actions: read
  checks: read
  contents: read
  deployments: none
  id-token: none
  issues: read
  discussions: none
  packages: none
  pages: none
  pull-requests: read
  repository-projects: read
  security-events: read
  statuses: read

on:
  pull_request:
  push:
    branches:
      - 'master'
      - '*'
    paths-ignore:
      - 'bin/*'
      - 'docs/images/*'
      - 'docs/running-tests.md'
      - 'scripts'

jobs:
  build:
    name: Build and test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        emacs_version:
          - 24.4
          - 24.5
          - 25.1
          - 25.2
          - 25.3
          - 26.1
          - 26.2
          - 26.3
          - 27.1
          - 28.1
          - 28.2
          - 29.1
          - 29.2
          - 29.3
          - 29.4
          - 30.1
          - release-snapshot
          - snapshot
    steps:
    - uses: purcell/setup-emacs@master
      with:
        version: ${{ matrix.emacs_version }}

    - uses: actions/checkout@v4
    - name: Run tests
      run: make check

